<div class="container-fluid">
  <div class="row">
    <div id="view1" class="col-xs-12 col-md-6"></div>
    <div id="view2" class="col-xs-12 col-md-6"></div>
    <div id="view3" class="col-xs-12 col-md-6"></div>
    <div id="view4" class="col-xs-12 col-md-6 ">
      <div class="data-panel">
        <h2> Todo va bien </h2>
      </div>
    </div>
  </div>
</div>
